@import "tailwindcss";
.container{
    @apply 
    mx-auto
    max-w-screen-xl;   
}
ul.cards{
    padding: 0;
    width: 100%;
    margin: -6px;
    display: flex;
    max-width: 70%;
    justify-content: center;
    align-items: flex-start;
}
ul.cards li{
    padding: 6px;
    list-style: none;
}
.box-card{
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    max-width: 400px;
    border-radius: 8px;
    background: #f7f7f8;
    flex-direction: column;
}
.box-card figure{
    width: 100%;
    border-radius: 8px;
}
.box-card figure img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.box-card h3,
.box-card p{
    margin: 0;
}
.box-card button{
    gap: 6px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    background: #fff;
    display: inline-flex;
    justify-content: center;
}